[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lfmm"]
	path = lfmm
	url = https://github.com/bcm-uga/lfmm
[submodule "pcadapt"]
	path = pcadapt
	url = https://github.com/bcm-uga/pcadapt
